<header class="header">
  <div class="header-left">
    <button class="menu-toggle">
      <span class="material-icons-outlined">menu</span>
    </button>
  </div>

  <div class="header-center">
    <div class="search-wrapper">
      <span class="material-icons-outlined search-icon">search</span>
      <input type="text" class="search-input" placeholder="Search menus..." />
    </div>
  </div>

  <div class="header-right">
    <button class="icon-btn notification-btn">
      <span class="material-icons-outlined">notifications_none</span>
    </button>

    <div class="user-block">
      <div class="user-info">
        <span class="user-name">{{ userName }}</span>
        <span class="user-role">{{ userRole }}</span>
      </div>
      <span class="material-icons-outlined user-chevron">expand_more</span>
    </div>
  </div>
</header>
